<mat-toolbar ngClass="recipe-toolbar">
  <label>Recipe Manager</label>

  <button mat-fab routerLink="/add-recipe" routerLinkActive="active">
    <i class="fas fa-plus add-recipe-button"></i>
  </button>
</mat-toolbar>

<table mat-table [dataSource]="dataSource" class="recipe-table">

  <!-- Name Column -->
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Recipe Name </th>
    <td mat-cell *matCellDef="let recipe"> {{recipe.recipeViewName}} </td>
  </ng-container>

  <!-- View Column -->

  <!-- Edit Column -->
  <ng-container matColumnDef="Edit">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let recipe">
      <button mat-button routerLink="/edit-recipe" routerLinkActive="active">
        <i class="fas fa-pencil-alt edit-recipe-button"></i>
      </button>
    </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="Delete">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let recipe">
      <button mat-button (click)="deleteRecipe(recipe.recipeViewName)">
        <i class="fas fa-trash-alt edit-recipe-button"></i>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
